@import "../../global.scss";

.status {
  position: relative;
  margin-bottom: 15px;
  margin-left: 15px;
  .img {
    width: 240px;
    height: 150px;
    cursor: pointer;
    transition: all 0.5s ease;
    @include tab{
      width: 450px;
      height: 300px;
    }
    @include mobile{
      width: 95%;
      height: 210px;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  .trailer {
    position: absolute;
    top: -150px;
    left: -15px;
    width: 270px;
    height: 200px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: $text;
    transition: all 0.5s ease;
    z-index: 1;
    padding: 10px;
    @include tab{
      width: 480px;
      height: 350px;
    }
    @include mobile{
      width: 100%;
      height: 300px;
      left: -10px;
    }
    video {
      width: 100%;
      height: 80%;
      object-fit: cover;
      border-radius: 8px;
    }
    .trailerInfo {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 400;
      margin-top: 10px;
      .rated {
        border: 1px solid lightgray;
        padding: 0 5px;
      }
    }
  }

  .details {
    position: relative;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    // gap: 5px;
    .img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid lightgray;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      line-height: 1.2;
      margin-left: 5px;
      // margin-right: 55px;
      .title {
        font-weight: 500;
        font-size: 13px;
        color: $text;
      }
      .name {
        font-weight: 400;
        font-size: 10px;
        color: gray;
      }
      .views {
        font-weight: 400;
        font-size: 10px;
        color: gray;
        display: flex;
      }
    }
    .likes {
      font-size: 12px;
      display: flex;
      align-items: center;
      margin-left: 15px;
      @include tab{
        margin-left: 50%;
      }
      @include mobile{
        margin-left: 35%;
      }
      span {
        margin: 5px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 10px;
      }
      .save {
        font-size: 14px;
        cursor: pointer;
      }
    }
    .watch {
      position: absolute;
      font-size: 14px;
      right: 0;
      top: -25px;
      background-color: lightgray;
      padding: 3px;
      font-weight: 500;
    }
  }
}
