@import "../../global.scss";
.footer {
  background-color: $mainColor;
  color: white;
  height: 50px !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
