@import "../../global.scss";

.explore {
  height: calc(100vh - 60px);
  width: 100%;
  position: absolute;
  top: 60px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px 250px;
  animation: up 1s ease;
  &::-webkit-scrollbar {
    display: none;
  }
  z-index: 9;

  .top {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 24px;
  }

  .components {
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      padding: 20px 30px;

      .page-link {
        width: 150px;
        height: 120px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        transition: all 0.5s ease;
        img {
          height: 60px;
          width: 60px;
        }
        p {
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          font-weight: 500;
          margin-top: 5px;
        }
        &:hover {
          box-shadow: -1px 0px 31px -16px rgba(0, 0, 0, 0.49);
          -webkit-box-shadow: -1px 0px 31px -16px rgba(0, 0, 0, 0.49);
          -moz-box-shadow: -1px 0px 31px -16px rgba(0, 0, 0, 0.49);
        }
      }
    }
  }
}

@keyframes up{
    0%{
      transform: translateY(150px);
      opacity: 0.01;
    }
  }
