@import "../../global.scss";

.contact {
  // background-color: white;
  display: flex;
  padding: 40px;
  overflow: hidden;

  @include tab {
    flex-direction: column;
  }
  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    transform: none !important;

    img {
      height: 100%;
      width: 90%;
      margin-left: 20px;

      @include tab {
        height: 80%;
      }
      @include mobile {
        height: 80%;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    @include tab{
      height: 100%;
      transform: none !important;
    }
    @include mobile{
      height: 100%;
      transform: none !important;
    }

    h2 {
      font-size: 30px;
      overflow: hidden;
      color: lightgray;

      @include mobile {
        font-size: 25px;
      }
    }

    form {
      height: 70%;
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include tab {
        height: 100%;
        width: 100%;
        justify-content: space-evenly;
      }
      @include mobile {
        height: 80%;
        width: 80%;
        justify-content: space-around;
      }

      input {
        width: 300px;
        height: 40px;
        font-size: 14px;
        background-color: white;
        padding: 10px 20px;
        color: white;
        border: none;
        font-size: 15px;
        margin-bottom: 15px;
        border-radius: 4px;
        &:focus {
          outline: none;
        }

        @include mobile {
          width: 250px;
          height: 40px;
          margin-bottom: 10px;
        }
        @include tab {
          width: 250px;
        }
      }
      textarea {
        width: 300px;
        height: 200px;
        background-color: white;
        padding: 10px 20px;
        border: none;
        font-size: 15px;
        margin-bottom: 15px;
        border-radius: 4px;
        &:focus {
          outline: none;
        }

        @include mobile {
          width: 250px;
          margin-bottom: 10px;
        }
        @include tab {
          width: 250px;
          height: 300px;
        }
      }
      button {
        width: 300px;
        height: 50px;
        color: white;
        background-color: $text;
        border: none;
        border-radius: 4px;
        font-weight: 500;
        cursor: pointer;

        @include tab {
          height: 50px;
          width: 250px;
        }
        @include mobile {
          height: 50px;
          width: 250px;
        }
      }
      span {
        color: rgb(5, 150, 5);
      }
    }
  }
}
